/* ...existing styles... */

.App {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}


.container-fluid {
  padding-right: 0;
  padding-left: 0;
  margin-right: auto;
  margin-left: auto;
}

.section {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  flex-grow: 1;
  padding: 20px;
}

.heading1 {
  font-family: 'IBM Plex Sans Thai', sans-serif;
  font-size: 164px;
  font-style: bold;
}

@media (max-width: 480px) {
  .heading1 {
    font-size: 96px;
  }
}

.heading2 {
  font-family: 'Inter', sans-serif;
  font-size: 40px;
  font-style: bold;
}

@media (max-width: 480px) {
  .heading2 {
    font-size: 36px;
  }
}

.paragraph {
  font-family: 'IBM Plex Sans Thai', sans-serif;
  font-size: 18px;
}

.section.first {
  background-color: #000000;
  padding: 10%;
  color: white;
  text-align: center;
}

.section.stat {
  background-color: white; /* Set the background color for the about section */
  padding: 10%;
  text-align: center;
}

.section.comment {
  background-color: #000000; /* Set the background color for the projects section */
  color: white;
  padding: 10%;
  text-align: center;
}


footer {
  background-color:white;
  padding: 50px;
  color:  #636363;
  text-align: center;
}