/* ...existing styles... */

.App {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.container-fluid {
  padding-right: 0;
  padding-left: 0;
  margin-right: auto;
  margin-left: auto;
}

.section {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  flex-grow: 1;
  padding: 20px;
}

.heading1 {
  font-family: 'IBM Plex Sans Thai', sans-serif;
  font-size: 164px;
  text-align: center;
}

@media (max-width: 480px) {
  .heading1 {
    font-size: 96px;
  }
}

.sub-heading {
  font-family: 'Noto Sans Thai', sans-serif;
  font-size: 40px;
  font-weight: 700;
  padding-left: 20%;
  padding-right: 20%;
  padding-bottom: 5%;
  text-align: justify;

}

@media (max-width: 480px) {
  .sub-heading {
    font-size: 32px;
    padding-left: 0%;
    padding-right: 0%;
    text-align: left;
  }
}

.paragraph1 {
  color: var(--white, #FFF);
  text-align: center;
  /* Body 1/Desktop/Regular */
  font-size: 18px;
  font-family: IBM Plex Sans Thai;
  font-style: normal;
  font-weight: 400;
  line-height: 150%;
  padding: 20px;
  padding-left: 20%;
  padding-right: 20%;
}

@media (max-width: 480px) {
  .paragraph1 {
    font-size: 14px;
    padding-left: 0%;
    padding-right: 0%;
  }
}

.paragraph2 {
  font-family: 'IBM Plex Sans Thai', sans-serif;
  font-size: 18px;
  padding: 1rem;
  padding-left: 20%;
  padding-right: 20%;
  text-align: justify;
  font-weight: 400;
  line-height: 150%;
}

@media (max-width: 480px) {
  .paragraph2 {
    font-size: 14px;
    padding-left: 0%;
    padding-right: 0%;
  }
}

.linked {
  font-family: 'IBM Plex Sans Thai', sans-serif;
  font-size: 14px;
  padding: 1rem;
  padding-left: 20%;
  padding-right: 20%;
  text-align: center;
  font-weight: 400;
  line-height: 150%;
}

.section.first {
  background-color: #000000;
  padding: 10%;
  color: white;
  text-align: center;
}

.section.stat {
  background-color: white; /* Set the background color for the about section */
  padding: 10%;
  text-align: center;
}

.chart-container {
  display: flex;
  align-items: center;
  justify-content: center;
}

.section.comment {
  background-color: #000000; /* Set the background color for the projects section */
  color: white;
  padding: 10%;
  text-align: center;
  height: 100%;
}


footer {
  background-color:white;
  padding: 50px;
  color:  #636363;
  text-align: center;
}