.feature-card {
  display: flex;
  padding-left: 20%;
  padding-right: 20%;
  /* height: 222px; */
  flex-direction: column;
  flex-shrink: 0;
  margin: auto;
  padding-block-end: 20%;
}

.feature-card__dialogue {
  width: 480px;
  color: var(--white, #FFF);
  text-align: left;
  /* Body 1/Desktop/Regular */
  font-size: 14px;
  font-family: 'IBM Plex Sans Thai', sans-serif;
  font-weight: 400;
  line-height: 150%;
  padding-bottom: 5%;
  text-align: left;
}

.feature-card__image-container {
  flex-shrink: 0; /* Prevent image container from shrinking */
  padding-right: 20px;
  align-items: left;
}

.feature-card__image {
  width:  86px;
  height:  86px;
  object-fit: cover;
  border-radius: 50%;
  align-items: left;
}

.feature-card__content {
  flex: 1;
  display: flex;
  flex-direction: column;
}

.feature-card__profile {
  display: flex;
  
}

.feature-card__name {
  color: var(--white, #FFF);
  /* Body 2/Desktop/Bold */
  font-family: 'IBM Plex Sans Thai', sans-serif;
  font-size: 12px;
  font-style: normal;
  font-weight: 700;
  line-height: 150%;
  text-align:left;
  margin-bottom: 0;
  padding-top: 7%;
}

.feature-card__position {
  color: var(--white, #FFF);
  /* Body 2/Desktop/Regular */
  font-family: 'IBM Plex Sans Thai', sans-serif;
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  line-height: 150%;
  text-align: left;
}

.right-aligned {
  text-align: end;
  align-items: end;
}

.right-aligned .feature-card__image-container {
  order: 1;
  padding-right: 0%;
  padding-left: 5%;
}

.right-aligned .feature-card__image-container {
  align-items: end;
}

.right-aligned .feature-card__dialogue, .right-aligned  .feature-card__profile-content,.right-aligned  .feature-card__name ,.right-aligned  .feature-card__position{
  text-align: end;
  align-items: end;
}

@media (max-width: 880px) {
  .feature-card {
    text-align: center;
    width: 100%;
    display: flex;
    flex-direction: column;
    flex-shrink: 0;
    padding-top: 10%;
    padding-bottom: 20%;
    padding-left: 10%;
    padding-right: 10%;
  }
}

@media (max-width: 480px) {
  .feature-card {
    text-align: center;
    width: 100%;
    display: flex;
    flex-direction: column;
    flex-shrink: 0;
    padding-top: 10%;
    padding-bottom: 30%;
    padding-left: 0%;
    padding-right: 0%;
  }

  .feature-card__image-container {
    padding-right: 10px; 
    text-align: center;
    align-items: center;
  }

  .feature-card__profile {
    padding-bottom: 0;
    text-align: center;
    align-items: center;
  }

  .feature-card__dialogue {
    width: 100%;
    text-align: center;
    align-items: center;
    padding-bottom: 5%;
  }

  .feature-card__name,
  .feature-card__position {
    font-size: 10px; 
    text-align: center;
    align-items: center;
    
  }
  .right-aligned {
    text-align: center;
    align-items: center;
  }
  
  .right-aligned .feature-card__image-container {
    order: 0;
  }
  
  .right-aligned .feature-card__image-container {
    align-items: center;
  }
  
  .right-aligned .feature-card__dialogue,.feature-card__profile-content,.feature-card__name , .feature-card__position{
    text-align: center;
    align-items: center;
  }
}
